.professionals-container {
    width: 100vw;
    .card-professionals-container {
        width: 100vw;
        height: auto;
        padding: 20px 0 20px 0;
        li {
            list-style: none;
        }
    }
}