.home-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.slider-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.world {
    max-width: 400px;
    margin: 20px;
    filter: drop-shadow(0 0 1em var(--lightBlue));
}