.container {
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: end;
    grid-column: 2;
    grid-row: 2;
    font-size: .8em;
    .nodeContainer {
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
        align-items: center;
        z-index: 51;
        position: absolute;
        top: 0;
    }
    .openNodeContainer {
        @extend .animationBackground;
        width: 100%;
        height: 100vh;
        background-color: var(--green);
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1px;
        gap: 15px;
        justify-content: center;
        align-content: center;
        padding: 20%;
    }
    .bars {
        height: 50px;
        width: 50px;
        padding: 3px;
        cursor: pointer;
        z-index: 100;
    }
}

@media (min-width: 1200px) {
    .container {
        align-items: center;
        display: flex;
        grid-column: 1;
        grid-row: 1;
        .nodeContainer {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            position: static;
            padding-right: 1px;
        }
        .bars {
            display: none;
        }
        .openNodeContainer {
            display: flex;
            width: inherit;
            height: inherit;
            background-color: none;
        }
    }
}

.animationBackground {
    background: linear-gradient(227deg, #6889ff, #5b7fff, #33ccfc);
    background-size: 400% 400%;
    -webkit-animation: mobileNavAnimation 30s ease infinite;
    -moz-animation: mobileNavAnimation 30s ease infinite;
    animation: mobileNavAnimation 30s ease infinite;
}

@-webkit-keyframes mobileNavAnimation {
    0% {
        background-position: 91% 0%
    }
    50% {
        background-position: 10% 100%
    }
    100% {
        background-position: 91% 0%
    }
}

@-moz-keyframes mobileNavAnimation {
    0% {
        background-position: 91% 0%
    }
    50% {
        background-position: 10% 100%
    }
    100% {
        background-position: 91% 0%
    }
}

@keyframes mobileNavAnimation {
    0% {
        background-position: 91% 0%
    }
    50% {
        background-position: 10% 100%
    }
    100% {
        background-position: 91% 0%
    }
}