.container {
    width: 100%;
    .nav {
        display: none;
    }
}

.childsMobile {
    display: none;
}

.childList {
    place-self: center;
}

.childsContainerShow {
    display: block;
}

.childsContainerHidden {
    display: none;
}

@media (min-width: 1200px) {
    .childsMobile {
        display: block;
    }
    .container {
        background-image: none;
        width: 160px;
        height: 60px;
        font-size: 1.4em;
        color: var(--green);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            text-decoration: underline 2px var(--greenMint);
        }
        .nav {
            display: block;
        }
    }
    .childsContainerShow {
        display: block;
        position: absolute;
        z-index: 9999;
    }
}