.traductionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paragraphContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.paragraph {
    margin: 5px;
}

.topic {
    text-decoration: underline var(--green);
}

.traductions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}